{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}