/dist/*
/build
/public
/asset
.local
.next
.vscode
.husky
.yarn
.yarnrc
.yarnclean
.yarn-integrity
.pnp.*
.git
.gitignore
.prettierignore
.prettierrc
.prettierignore
yarn.lock
package.json
package-lock.json
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
/node_modules/**
.next

**/*.svg
**/*.sh
**/*.png
**/*.jpg

/public/*
*.yaml
*.json
*.md
.prettierrc
